
html,body {
    font-family: "Microsoft YaHei", "微軟正黑體", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #444;
    line-height: 1.45;
	background-color:#fff;
	text-align: center;
	background: url(../images/bg.png);
	background-size: 100% auto;
	padding: 0;
	margin: 0;
}
ol{
	margin-bottom: -10px;
}

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
 
}
.carousel-inner > .item > img {
 display: inline;
}
.carousel-indicators li {
    width: 14px;
	height: 14px;
    border-radius: 50%;
	border: 1px solid #d5d5d5; 
    background-color: #fff; 
}
.carousel-indicators .active {
	width: 16px;
	height: 16px;
    background-color: #d5d5d5;
}

.carousel-control{
	width: 5%;
}
.carousel-control{
	width: 5%;
}
@media (max-width: 767px) {
	.carousel {
		margin-bottom: 20px;
	}
	.carousel-indicators{
		bottom: 0;
	}
	.carousel-indicators li {
		width: 8px;
		height: 8px;
	}
	.carousel-indicators .active{
		width: 9px;
		height: 9px;
	}
}

header{
	padding: 10px 0;
	text-align: left;
}
header .logo { 
	height: 43px;
}
header .slogan{
	float: right;
	padding-top: 15px;
	color: #fe7018;
}
.pb20{
	padding-bottom: 20px;
}
.pb20 > p {
	display: block;
	text-align: center;
}
#subscription{
	background:url(../images/reBg.png) top center;
	background-size:contain;
	padding-top: 20px;
}
#cUs{
	background:url(../images/cBg.png) top center;
	background-size:cover;
	padding-top: 30px;
}
.df{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; vertical-align: bottom;
}
footer{
	background-color: #323232;
	color: #fff;
	padding: 10px;
}

***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	#subscription{background:url(../images/reBgs.png) top center;}
	.container{margin: 0;padding: 10px;}
	body{ text-align: left;}
	header{ padding:0;}
	header .logo { height: 30px;}
	header .slogan{padding-top: 6px;}
}

@media (max-width: 415px) {
	#subscription{background:url(../images/reBgs.png) top center;}
	#cUs{background:url(../images/cBgs.png) top center;padding-top: 0px;}
	body{font-size: 12px;}

}
